# 2019.1.9 @ ChengDu
# Key Word matching
#

[key]
object=["产品","项目","FAST","bug","模型","模块","流程","程序","缺陷","问题","服务","容器"]
active=["加","增","减","修改","修复","修正","处理","调整","解决","测试","写","验证","排查","完成"]

# Eof
#