# 2019.1.9 @ ChengDu
# Key Word matching
#
#   基本观点：
#       “人，在正常情况下，其行为，是由其依据对任务的要求进行思考和判断来决定的”
#
#   思考：可以是有因的主动、自觉的，或利益驱动的
#   判断：有很多促成其做出判断的因素，如道德、法律、规章制度、舆论、三观等
#
#   ----------
#   系统中记录的数据，多为个人在“日常”工作中表现出来的行为，一个基本观点：
#       习惯效应：“人，不可能长期持之以恒地输入不真实数据”
#       群体效应：“不会出现一群人联合输入不真实数据”
#

[key]
object=["产品","项目","FAST","HUBBLE","MIR","PULSAR","WH","WHITE","ONE","BUG","模型","模块","流程","程序","缺陷","问题","服务","容器","任务","接口","代码","需求","例会","门户","API"]
active=["加","增","减","改","删","修复","修正","处理","调整","联调","解决","测试","写","验证","排查","定位","优化","了解","梳理","整理","安排","分配","部署","提交","评审","设计","支撑","支持","变更","迭代","迁移","讨论"]
depth=["已","已经","完成","完成了","正在","过程中"]

# Eof
#