# 2018.5.22 @ ChengDu
# configuration for R&D management system
#

[LOG]
path=/home/shenwei/log/jira_class_epic.log

[DATE]
#
jira_scan_start_date=2018-3-1

[DATABASE]
mongodb=mongodb://root:chinacloud@172.16.60.2:27017/admin

[MYSQL]
host=172.16.60.2
user=tk
password=53ZkAuoDVc8nsrVG

[JIRA]
url=http://jira.chinacloud.com.cn
user=shenwei
password=sw64419

[QUOTA]
high_ratio_level=10
high_ratio_value=1.3
middle_ratio_level=5
middle_ratio_value=1.2
low_ratio_level=1
low_ratio_value=1.1

[HONOR]
number_column=6
pd_number_member=12
pj_number_member=12
rdm_number_member=6

[MANGER]

[RDM]

[FINANCE]
day=10

[LIST]
products=["CPSJ","FAST","FASTPULSAR","FASTMIR","FASTWH","HUBBLE","HV","ONEX","ROOOT"]
projects=["JX","GZ","SCGA","FT","JTJD","BJXJC","HBB17"]
rdm=["RDM","TESTCENTER"]


#
# Eof