            <div>
                <h2><b style="color:#F00">{{ info }}光荣榜</b></h2><br/>
                <ul>
                    <li>
                        <h3><b style="color:#F00">产品研发中心</b></h3>
                        <hr>
                        <table border="0">
                            <tr style="text-align:center">
                                <th width="40px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                            </tr>
                            {% for _i in pd_numb %}
                            <tr>
                                <td></td>
                                {% for _p in pd_list[_i] %}
                                <td style="text-align:center">
                                    <img src="static/personal/{{ _p['name'] }}.jpg" width=120px height=160px  align="middle">
                                    <br/><h4 style="text-align:center"><b style="color:#F00">{{ _p['name'] }}</b></h4>
                                    <h5>指标：{{ _p['quota'] }}</h5>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        <h3><b style="color:#F00">项目开发</b></h3>
                        <hr>
                        <table border="0">
                            <tr style="text-align:center">
                                <th width="40px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                            </tr>
                            {% for _i in pj_numb %}
                            <tr>
                                <td></td>
                                {% for _p in pj_list[_i] %}
                                <td style="text-align:center">
                                    <img src="static/personal/{{ _p['name'] }}.jpg" width=120px height=160px  align="middle">
                                    <br/><h4 style="text-align:center"><b style="color:#F00">{{ _p['name'] }}</b></h4>
                                    <h5>指标：{{ _p['quota'] }}</h5>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        <h3><b style="color:#F00">研发管理与测试</b></h3>
                        <hr>
                        <table border="0">
                            <tr style="text-align:center">
                                <th width="40px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                                <th width="160px" style="text-align:center"></th>
                            </tr>
                            {% for _i in rdm_numb %}
                            <tr>
                                <td></td>
                                {% for _p in rdm_list[_i] %}
                                <td style="text-align:center">
                                    <img src="static/personal/{{ _p['name'] }}.jpg" width=120px height=160px  align="middle">
                                    <br/><h4 style="text-align:center"><b style="color:#F00">{{ _p['name'] }}</b></h4>
                                    <h5>指标：{{ _p['quota'] }}</h5>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </li>
                </ul>
                <br/>
            </div>
