{% extends "base.html" %}

{% block title %}研发管理信息系统{% endblock %}

{% block page_content %}
<div class="page-header">
        <div class="head" id="A1">
            <div style="text-align:center">
                <h1><b style="color:#F00">光荣榜</b></h1><h4>【注：仅针对注册员工，按个人任务执行情况排名】</h4>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <h2><b style="color:#F00">明星</b></h2>
                        <hr>
                        <table border="2">
                            <tr style="text-align:center">
                                <th width="300px" style="text-align:center">员工</th>
                                <th width="300px" style="text-align:center">员工</th>
                                <th width="300px" style="text-align:center">员工</th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2><b style="color:#F00">本周排行榜</b></h2>
                        <hr>
                        <table border="2">
                            <tr style="text-align:center">
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2><b style="color:#F00">本月排行榜</b></h2>
                        <hr>
                        <table border="2">
                            <tr style="text-align:center">
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2><b style="color:#F00">本年排行榜</b></h2>
                        <hr>
                        <table border="2">
                            <tr style="text-align:center">
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                                <th width="150px" style="text-align:center">员工</th>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div style="text-align:center"><b>版权：</b>中电科华云信息技术有限公司</div>
</div>
{% endblock %}
