{% extends "base.html" %}

{% block title %}研发管理信息系统{% endblock %}

{% block page_content %}
<div class="page-header">
        <div class="head" id="A1">
            <div class="jumbotron">
                <div class="container">
                    <div  style="text-align:center">
                        <h1><b>公司综合信息</b></h1>
                    </div>
                    <p>
                        公司在岗{{ checkStat['actUser'] }}人，信息系统在册{{ taskStat["persion_count"] }}人，
                        执行任务总数{{ taskStat["total"] }}个，完成了{{ taskStat["done"] }}个，
                        完成率为{{ taskStat['ratio'] }}%。
                    </p>
                </div>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <h2>项目综合</h2><button onclick="window.location.href='/project'">项目详情</button>
                        <hr>
                        <h3>项目数统计：</h3>
                        <br/>
                        <p>到目前为止，公司共开发了<b style="color:#F00">{{ pjStat["total"] }}</b>个项目，
                            其中有<b style="color:#F00">{{ pjStat["op"] }}</b>个项目进入运维阶段；
                            有<b style="color:#F00">{{ pjStat["done"] }}</b>个项目完成结项；
                            有<b style="color:#F00">{{ pjStat["ing"] }}</b>个项目正在建设中；
                            还有<b style="color:#F00">{{ pjStat["pre"] }}</b>个项目处于跟进中。
                        </p>
                        {% if user["role"] <= 1 %}
                        <h3>项目费用统计：</h3>
                        <p>到目前为止，公司已签订了<b style="color:#F00">{{ contractStat["count"] }}</b>个销售合同，
                            合同总额<b style="color:#F00">{{ contractStat["total"] }}</b>万元，
                            合同在立项时预估总预算<b style="color:#F00">{{ contractStat["budget"] }}</b>万元。
                        </p>
                        {% endif %}
                    </li>
                    <li>
                        <h2>产品综合</h2>
                            <button onclick="window.location.href='/product'">产品交付详情</button>
                            <button onclick="window.location.href='/producting'">产品研发详情</button>
                        <hr/>
                        <p>
                        到目前为止，公司已有<b style="color:#F00">{{ pdStat["total"] }}</b>个产品版本正式发布，
                        还有<b style="color:#F00">{{ pdStat["ing"] }}</b>个产品版本处于研发中。
                        </p>
                        <p>
                        共提供<b style="color:#F00">{{ pdStat["count"] }}</b>个产品版本，
                        完成<b style="color:#F00">{{ pdStat["deliver"] }}</b>次工程部署。
                        </p>
                    </li>
                    <li>
                        <h2>资源综合</h2>
                            <button onclick="window.location.href='/rdm'">研发管理详情</button>
                        <hr>
                        <div><h3>资源统计：</h3></div>
                        <p>
                        到目前为止，已有<b style="color:#F00">{{ taskStat["persion_count"] }}</b>名员工进入研发管理信息系统，
                        是全员的<b style="color:#F00">{{ taskStat["persion_ratio"] }}</b>%。
                        这些员工已贡献<b style="color:#F00">{{ hrStat["cost_time"] }}</b>个工时的工作量。
                        </p>
                        <div><h3>资源明细：</h3></div>
                        <p>
                        今年，产品研发中心共有<b style="color:#F00">{{ taskStat["pd_persion"] }}</b>名员工，
                        耗费<b style="color:#F00">{{ taskStat["pd_cost_time"] }}</b>个工时，
                        完成<b style="color:#F00">{{ taskStat["pd_count"] }}</b>项任务。
                        在支撑项目上，共投入<b style="color:#F00">{{ hrStat["pd_pj_time"] }}</b>个工时
                            （占比<b style="color:#F00">{{ hrStat["pd_pj_time_ratio"] }}</b>%），
                        完成<b style="color:#F00">{{ hrStat["pd_pj_task_numb"] }}</b>项任务
                            （占比<b style="color:#F00">{{ hrStat["pd_pj_task_numb_ratio"]}}</b>%）。
                        </p>
                        <p>
                        在项目开发上，共有<b style="color:#F00">{{ taskStat["pj_persion"] }}</b>名员工，
                        耗费<b style="color:#F00">{{ taskStat["pj_cost_time"] }}</b>个工时，
                        完成<b style="color:#F00">{{ taskStat["pj_count"] }}</b>项任务。
                        </p>
                        <p>
                        研发管理与测试部共有<b style="color:#F00">{{ taskStat["rdm_persion"] }}</b>名员工，
                        耗费<b style="color:#F00">{{ taskStat["rdm_cost_time"] }}</b>个工时，
                        完成<b style="color:#F00">{{ taskStat["rdm_count"] }}</b>项任务。
                        </p>
                    </li>
                    <li>
                        <h2>任务综合</h2>
                        <hr>
                        <p>
                        目前，系统共有<b style="color:#F00">{{ taskStat["total"] }}</b>个任务，
                        已完成<b style="color:#F00">{{ taskStat["done"] }}</b>个任务，
                        完成率为<b style="color:#F00">{{ taskStat['ratio'] }}</b>%。
                        </p>
                        <br>
                        <table>
                            <tr>
                                <th width="50px"></th>
                                <th>{{ persionTask | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ dateTask | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ hrMonth | safe }}</th>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h2>差旅综合</h2>
                        <hr>
                        {% if user["role"] <= 2 %}
                        <p>
                        今年，已发生差旅<b style="color:#F00">{{ tripStat["total"] }}</b>人次，
                        差旅借款<b style="color:#F00">{{ tripStat["loan"] }}</b>万元，
                        机票费<b style="color:#F00">{{ tripStat["ticket"] }}</b>万元，
                        总费用<b style="color:#F00">{{ tripStat["totalcost"] }}</b>万元。<br/>
                        目前，已提交的报账申请的总金额为<b style="color:#F00">{{ tripStat["reim"] }}</b>万元。
                        </p>
                        {% endif %}
                        <br>
                        <table>
                            <tr>
                                <th width="50px"></th>
                                <th>{{ trip | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ reim | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ planeTicket | safe }}</th>
                            </tr>
                            {% if user["role"] <= 2 %}
                            <tr>
                                <th width="50px"></th>
                                <th>{{ tripMonth | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ reimMonth | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ planeMonth | safe }}</th>
                            </tr>
                            {% endif %}
                        </table>
                    </li>
                    <li>
                        <h2>考勤综合</h2>
                        <hr>
                        <p>
                        公司近期到岗<b style="color:#F00">{{ checkStat['actUser'] }}</b>人，
                        员工的上、下班及工作时间数据如下：
                        </p>
                        <table>
                            <tr>
                                <th width="50px"></th>
                                <th>{{ chkonam | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ chkonpm | safe }}</th>
                                <th width="20px"></th>
                                <th>{{ chkonwork | safe }}</th>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div style="text-align:center"><b>版权：</b>中电科华云信息技术有限公司</div>
</div>
{% endblock %}
