{% extends "base.html" %}

{% block title %}研发管理信息系统{% endblock %}

{% block page_content %}
<div class="page-header">
        <div class="head" id="A1">
            <div class="jumbotron">
                <div class="container">
                    <div style="text-align:center" id="vueex">
                        <h1><b>工作行为</b></h1>
                        <p v-text="msg"></p>
                        <p>数据统计日期：{{ weekdate }}</p>
                    </div>
                    <script>
                        let vm = new Vue({
                            el: '#vueex',
                            data: {
                                msg: 'Vue.js版本'
                            }
                        })
                    </script>
                    <p>
                        本网页的内容是基于员工日常工作的数据形成其个人<b>工作行为</b>数据。<br/>
                    </p>
                </div>
            </div>
        </div>
        <br>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;本时间段内，应提交个人工作日志的总人数为 <b>{{ total_count }}</b> 人；
        其中，提交个人工作日志的有 <b>{{ used_count }}</b> 人，未提交的有 <b>{{ no_count }}</b> 人。</p>
        <br>
        <div class="container" id="div_wrap">
            <div id="div_menu">【员工选择】
                <table border="1">
                    <tr style="text-align:center">
                        <th width="80px" style="text-align:center"></th>
                        <th width="80px" style="text-align:center"></th>
                        <th width="80px" style="text-align:center"></th>
                    </tr>
                    {% for _i in range( int((len(members)+2)/3) ) %}
                    <tr>
                        <td style="text-align:center">
                            <button style="width:60px;" value="{{members[_i*3]}}" v-on:click="say({{_i*3}})">
                                {{ members[_i*3] }}</button>
                        </td>
                        <td style="text-align:center">
                            {% if (_i*3+1)<len(members) %}
                                <button style="width:60px;" value="{{members[_i*3+1]}}" v-on:click="say({{_i*3+1}})">
                                    {{ members[_i*3+1] }}</button>
                            {% endif %}
                        </td>
                        <td style="text-align:center">
                            {% if (_i*3+2)<len(members) %}
                                <button style="width:60px;" value="{{members[_i*3+2]}}" v-on:click="say({{_i*3+2}})">
                                    {{ members[_i*3+2] }}</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <div id="member_summary" >
                </div>
            </div>
            <script>
                new Vue({
                    el: '#div_wrap',
                    methods: {
                        say: function (value){
                            var str = value;
                            htmlobj=$.ajax({url:"/member_select/"+str,async:false})
                            $("#member_summary").html(htmlobj.responseText);
                            $("#member_summary").show();
                        }
                    }
                })
            </script>
        </div>
        <div style="text-align:center"><b>版权：</b>中电科华云信息技术有限公司</div>
</div>
{% endblock %}
