{% extends "base.html" %}

{% block title %}研发管理信息系统{% endblock %}

{% block page_content %}
<div class="page-header">
        <div class="head" id="A1">
            <div style="text-align:center">
                <h1><b>项目开发信息</b></h1>
            </div>
            <div class="list">
                <ul>
                    <dh>
                        <h3><b>在建项目：</b></h3>
                        <hr>
                        <table border="2">
                            <tr style="text-align:center">
                                <th width="300px" style="text-align:center">名称</th>
                                <th width="140px" style="text-align:center">合同</th>
                                <th width="140px" style="text-align:center">启动</th>
                                <th width="140px" style="text-align:center">立项</th>
                                <th width="140px" style="text-align:center">需求</th>
                                <th width="140px" style="text-align:center">开发</th>
                                <th width="140px" style="text-align:center">部署</th>
                                <th width="140px" style="text-align:center; color:#F00">合同交付</th>
                            </tr>
                            {% for pj in projects %}
                            <tr>
                                <td>{{ pj['项目名称'][0:pj['项目名称'].find('(简称')] }}</td>
                                {% if '年' in pj['合同'] %}
                                    <td style="text-align:center; background-color:#0F0;">{{ pj['合同'] }}</td>
                                {% else %}
                                    <td style="text-align:center">{{ pj['合同'] }}</td>
                                {% endif %}
                                {% if '年' in pj['启动'] %}
                                    <td style="text-align:center; background-color:#0F0;">{{ pj['启动'] }}</td>
                                {% else %}
                                    <td style="text-align:center">{{ pj['启动'] }}</td>
                                {% endif %}
                                {% if '年' in pj['实际立项'] %}
                                    <td style="text-align:center; background-color:#0F0;">{{ pj['实际立项'] }}</td>
                                {% else %}
                                    <td style="text-align:center">{{ pj['实际立项'] }}</td>
                                {% endif %}
                                {% if '年' in pj['实际需求设计'] %}
                                    <td style="text-align:center; background-color:#0F0;">{{ pj['实际需求设计'] }}</td>
                                {% else %}
                                    <td style="text-align:center">{{ pj['实际需求设计'] }}</td>
                                {% endif %}
                                {% if '年' in pj['实际研发测试'] %}
                                    <td style="text-align:center; background-color:#0F0;">{{ pj['实际研发测试'] }}</td>
                                {% else %}
                                    <td style="text-align:center">{{ pj['实际研发测试'] }}</td>
                                {% endif %}
                                {% if '年' in pj['实际部署实施'] %}
                                    <td style="text-align:center; background-color:#0F0;">{{ pj['实际部署实施'] }}</td>
                                {% else %}
                                    <td style="text-align:center">{{ pj['实际部署实施'] }}</td>
                                {% endif %}
                                {% if '年' in pj['合同交付日期'] %}
                                    <td style="text-align:center; background-color:#FF0;">{{ pj['合同交付日期'] }}</td>
                                {% else %}
                                    <td style="text-align:center">{{ pj['合同交付日期'] }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                        <b style="color:#F00">注：以上日期为阶段完成的时间点；【合同交付】是合同要求的交付日期。</b>
                        <br/>
                        {% if user["role"] <= 2 %}
                        <h3><b>争取项目：</b></h3>
                        <hr>
                        <table border="2">
                            <tr style="text-align:center">
                                <th width="120px" style="text-align:center">业务条线</th>
                                <th width="300px" style="text-align:center">名称</th>
                                <th width="120px" style="text-align:center">立项状态</th>
                                <th width="120px" style="text-align:center">项目经理</th>
                                <th width="120px" style="text-align:center">售前</th>
                                <th width="120px" style="text-align:center">拟招标</th>
                                <th width="120px" style="text-align:center">中标</th>
                                <th width="220px" style="text-align:center; color:#F00">规模（万元）</th>
                            </tr>
                            {% for pj in pre_projects %}
                            <tr>
                                <td style="text-align:center">{{ pj['业务条线'] }}</td>
                                <td>{{ pj['项目名称'][0:pj['项目名称'].find('(简称')] }}</td>
                                <td style="text-align:center">{{ pj['立项状态'] }}</td>
                                <td style="text-align:center">{{ pj['项目经理'] }}</td>
                                <td style="text-align:center">{{ pj['售前'] }}</td>
                                <td style="text-align:center">{{ pj['拟招标'] }}</td>
                                <td style="text-align:center">{{ pj['中标'] }}</td>
                                <td style="text-align:right">{{ pj['规模'] }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align:right">总计：</td>
                                <td style="text-align:right">{{ pre_quota }}</td>
                            </tr>
                        </table>
                        {% endif %}
                        <h3><b>重点项目执行情况：</b></h3>
                        <hr>
                        <table border="2">
                            <tr>
                                <th width="300px" style="text-align:center">项目信息</th>
                                <th width="300px" style="text-align:center">任务情况</th>
                            </tr>
                            {% for _p in imp_projects %}
                            <tr>
                                <td>{{ _p['info'] }}</td>
                                <td>{{ _p['pic'] | safe }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </dh>
                </ul>
            </div>
        </div>
        <br>
        <div style="text-align:center"><b>版权：</b>中电科华云信息技术有限公司</div>
</div>
{% endblock %}
