{% extends "base.html" %}

{% block title %}研发管理信息系统{% endblock %}

{% block page_content %}
<div class="page-header">
        <div class="head" id="A1">
            <div style="text-align:center">
                <h1><b>研发管理信息系统</b></h1>
            </div>
            <div class="list">
                <ul>
                    <dh>
                        <h2><b>注册人员：</b></h2>
                        <hr>
                        <h2><b>基础数据：</b></h2>
                        <hr>
                    </dh>
                </ul>
            </div>
        </div>
        <br>
        <div style="text-align:center"><b>版权：</b>中电科华云信息技术有限公司</div>
</div>
{% endblock %}
