{% extends "base.html" %}

{% block title %}研发管理信息系统{% endblock %}

{% block page_content %}
<div class="page-header">
        <div class="head" id="A1">
            <div class="jumbotron">
                <div class="container">
                    <div  style="text-align:center">
                        <h1><b>研发管理信息系统</b></h1>
                    </div>
                    <p>
                        系统共有{{ total }}人，记录了{{ total_worklog }}条工作日志。<br/>
                        产品研发中心有{{ pd_count }}人，项目开发有{{ pj_count }}人，
                        研发管理与测试部有{{ rdm_count }}人。<br/>
                        外包人员有{{ ext_personals_count }}人。
                    </p>
                </div>
            </div>
            <div class="list">
                <div class="container">
                    <p><h2><b>注册人员：</b><b style="color:#F00">{{ total }}</b>（人）</h2></p>
                </div>
                <div class="container"><h2><b>基础数据</b></h2>
                    <p>
                    <h4>任务统计</h4>
                    有效任务<sub>具有预估、执行工时的</sub>总数：<b style="color:#F00">{{ total_task }}</b>（个）<br/>
                    工作日志记录总数：<b style="color:#F00">{{ total_worklog }}</b>（条）
                    </p>
                    <p>
                    <h4>项目成果存档统计</h4>
                    参与归档的项目数：<b style="color:#F00">{{ total_pj }}</b>（个）<br/>
                    项目成果数：<b style="color:#F00">{{ total_material }}</b>（项）
                    </p>
                </div>
                {% if user["role"] <= 2 %}
                <div class="container"><h2><b>资源池工作分布情况</b></h2>
                    <p>
                        注：图中每个点表示一个资源个体（员工），情况分三类：<br/>
                        >：“大圈”表示负载饱和（承担的任务量超过40个工时）；<br/>
                        >：“中圈”表示负载适中（承担的任务量在24至40个工时之间）；<br/>
                        >：“小圈”表示负载欠缺（承担的任务量小于24个工时）。
                    </p>
                    <table border="0">
                        <tr style="text-align:center">
                            <p>产品研发中心资源
                                {{ task_ind_pd | safe }}
                                {{ task_ind_pd_org | safe }}
                            </p>
                            <p>项目开发资源
                                {{ task_ind_pj | safe }}
                                {{ task_ind_pj_org | safe }}
                            </p>
                            <p>测试资源
                                {{ task_ind_rdm | safe }}
                                {{ task_ind_rdm_org | safe }}
                            </p>
                        </tr>
                    </table>
                </div>
                <div class="container"><h2><b>产品研发中心支撑项目统计</b></h2>
                    <table border="1">
                        <tr style="text-align:center">
                            <th width="320px" style="text-align:center">年度</th>
                            <th width="320px" style="text-align:center">近三个月</th>
                            <th width="320px" style="text-align:center">上个月</th>
                        </tr>
                        <tr>
                            <td>
                                <p>今年截至现在，产品研发资源的工时投入占比情况：<br/>
                                    >：产品研发投入{{ task_pd }}个工时，占比{{ task_pd_ratio }}%；<br/>
                                    >：项目支撑投入{{ task_pj }}个工时，占比{{ task_pj_ratio }}%；<br/>
                                    >：其它任务支撑投入{{ task_npj }}个工时，占比{{ task_npj_ratio }}%。
                                </p>
                            </td>
                            <td>
                                <p>近三个月，产品研发资源的工时投入占比情况：<br/>
                                    >：产品研发投入{{ task_pd_3m }}个工时，占比{{ task_pd_ratio_3m }}%；<br/>
                                    >：项目支撑投入{{ task_pj_3m }}个工时，占比{{ task_pj_ratio_3m }}%；<br/>
                                    >：其它任务支撑投入{{ task_npj_3m }}个工时，占比{{ task_npj_ratio_3m }}%。
                                </p>
                            </td>
                            <td>
                                <p>上个月，产品研发资源的工时投入占比情况：<br/>
                                    >：产品研发投入{{ task_pd_1m }}个工时，占比{{ task_pd_ratio_1m }}%；<br/>
                                    >：项目支撑投入{{ task_pj_1m }}个工时，占比{{ task_pj_ratio_1m }}%；<br/>
                                    >：其它任务支撑投入{{ task_npj_1m }}个工时，占比{{ task_npj_ratio_1m }}%。
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                                {{ task_ratio | safe }}
                            </td>
                            <td style="text-align:center">
                                {{ task_ratio_3m | safe }}
                            </td>
                            <td style="text-align:center">
                                {{ task_ratio_1m | safe }}
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <h3>产品研发资源在非产品类任务的投入明细</h3>
                    <button id="btn_desc" type="button" value="show" onclick="btn_onclick(this.value)">显示</button>
                    <div id="producting_list" style="display: none;">
                       {% for _pj_name in sorted(pd_project) %}
                        <p>
                            “<b>{{ _pj_name }}</b>”项目资源（工时）投入情况：
                        </p>
                        <table border="1">
                            <tr style="text-align:center">
                                {% for _name in sorted(pd_project[_pj_name], reverse=False) %}
                                    <th width="200px" style="text-align:center">{{ _name }}</th>
                                {% endfor %}
                            </tr>
                            <tr style="text-align:center">
                                {% for _name in sorted(pd_project[_pj_name], reverse=False) %}
                                    <td style="text-align:center">{{ pd_project[_pj_name][_name]/3600 }}</td>
                                {% endfor %}
                            </tr>
                        </table>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="container"><h2><b>外包资源情况</b></h2>
                    <p><h3>资源统计</h3>
                    </p>
                    <div>
                    <table border="1">
                            <tr style="text-align:center">
                                <th width="240px" style="text-align:center">项目</th>
                                <th width="160px" style="text-align:center">负责人</th>
                                <th width="120px" style="text-align:center">外包人数</th>
                                <th width="480px" style="text-align:center">备注</th>
                            </tr>
                            {% for _v in ext_personals_stat %}
                            <tr>
                                <td style="text-align:left">{{ _v['项目名称'] }}</td>
                                <td style="text-align:center">{{ _v['项目经理'] }}</td>
                                <td style="text-align:center">{{ _v['数量'] }}</td>
                                <td style="text-align:left">{{ _v['备注'] }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td style="text-align:right"><b>总计：</b></td>
                                <td style="text-align:center">{{ ext_personals_count }}</td>
                            </tr>
                        </table>
                        {% if user["role"] <= 4 %}
                        <br/>
                        <h3>资源明细</h3>
                        <button id="btn_ext" type="button" value="show" onclick="btn_onclick_ext(this.value)">显示</button>
                        <div id="ext_personal_list" style="display: none;">
                            <br/>
                            <table border="1">
                                <tr style="text-align:center">
                                    <th width="240px" style="text-align:center">部门</th>
                                    <th width="200px" style="text-align:center">项目</th>
                                    <th width="160px" style="text-align:center">负责人</th>
                                    <th width="120px" style="text-align:center">人员</th>
                                    <th width="220px" style="text-align:center">期限</th>
                                    <th width="200px" style="text-align:center">供应商</th>
                                    <th width="240px" style="text-align:center">岗位</th>
                                    <th width="120px" style="text-align:center">工作地点</th>
                                </tr>
                                {% for _v in ext_personals %}
                                <tr>
                                    <td style="text-align:left">{{ _v['部门'] }}</td>
                                    <td style="text-align:left">{{ _v['项目'] }}</td>
                                    <td style="text-align:center">{{ _v['负责人'] }}</td>
                                    <td style="text-align:center">{{ _v['姓名'] }}</td>
                                    <td style="text-align:center">{{ _v['使用期限'] }}</td>
                                    <td style="text-align:center">{{ _v['所属供应商'] }}</td>
                                    <td style="text-align:center">{{ _v['所任岗位角色'] }}</td>
                                    <td style="text-align:center">{{ _v['工作地点'] }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align:center"><b>版权：</b>中电科华云信息技术有限公司</div>
</div>

<script type="text/javascript">
    function btn_onclick(value){
        if (document.getElementById("producting_list").style.display=='none'){
            document.getElementById("producting_list").style.display='block';
            $("#btn_desc").html('隐藏');
        }else{
            document.getElementById("producting_list").style.display='none';
            $("#btn_desc").html('显示');
        }
    }
    function btn_onclick_ext(value){
        if (document.getElementById("ext_personal_list").style.display=='none'){
            document.getElementById("ext_personal_list").style.display='block';
            $("#btn_ext").html('隐藏');
        }else{
            document.getElementById("ext_personal_list").style.display='none';
            $("#btn_ext").html('显示');
        }
    }
</script>

{% endblock %}
